body {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(24, 114, 24);
    text-align: center;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-bottom: 30px;
}

.text {
    align-self: flex-start;
    padding: 1rem;
}

.field {
    min-height: 250px;
    width: 100%;
    border-top: 2px solid #acacac;
    border-bottom: 2px solid #acacac;
    background-color: rgb(240, 255, 255);
}

.textarea {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #acacac;
}

.textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 5px rgb(165, 245, 188);
}

.result {
    display: inline-block;
    padding: 0.5rem;
    margin: 5px 10px; 
}

.result__item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid #acacac;
    width: 600px;
    padding: 10px;
}

.error {
    padding: 10px;
    color: red;
}

.buttons {
    display: flex;
}

.btn {
    width: 190px;
    margin: 10px;
    padding: 1rem;
    background: rgb(69, 167, 69);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: rgb(24, 114, 24);
}

.btn__remove {
    width: 190px;
    margin: 10px;
    padding: 1rem;
    background: #acacac;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.btn__remove:hover {
    background: #6d6d6d;
}

.remove {
    margin: 10px;
    padding: 5px 10px;
    background: #acacac;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.remove:hover {
    background: #696969;
}